<h1>Editing customer_configuration</h1>

<%= render 'form' %>
<br/>
<%= link_to 'Show', @customer_configuration, class: 'button' %>
<%= link_to 'Back', customer_configurations_path, class: 'button' %>
