input[type=checkbox].css-checkbox {
  display:none;
}

input[type=checkbox].css-checkbox + label.css-label {
  padding-left:41px;
  height:36px;
  display:inline-block;
  line-height:36px;
  background-repeat:no-repeat;
  background-position: 0 0;
  font-size:12px;
  vertical-align:middle;
  cursor:pointer;

}

input[type=checkbox].css-checkbox:checked + label.css-label {
  background-position: 0 -36px;
}
label.css-label {
  background-image:url(csscheckbox.png);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}