
.wrapper {
    width: 100%;
    height: 80px;
    background: #20538D;
    border-top: 4px solid #20538D;
    position: relative;
    margin-bottom: 30px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

ul.menu {
    margin: auto;
    height: 80px;

}

ul.menu li {
    display: inline-block;
    list-style: none;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background: #fff;
}

ul li a {
    display: block;
    padding: 0 20px;
    text-align: center;
    line-height: 80px;
    text-decoration: none;
    color: #fff;

    background: #20538D;
    -webkit-transition-property: background;
    -webkit-transition-duration: 700ms;
    -moz-transition-property: background;
    -moz-transition-duration: 700ms;
}

ul li a:hover {
    background: transparent;
    color: #20538D;
}

ul li.active a {
    color: #20538D;
    background: #fff;
}
