.user_info{
  position: absolute;
  color: #ffffff;
  right: 6%;
  height: 10px;
  width: 330px;
}




pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}






#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
select {
  background: transparent url(sort_both.png) no-repeat right;
  width: 150px;
  padding: 5px;
  font-size: 16px;
  line-height: 1;
  border: 1px solid;
  border-radius: 5px;
  height: 34px;
  -webkit-appearance: none;
}


#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}